body {
    background: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.map_holder {
    position: relative;
    top: 0;
    overflow: hidden;
}
.hud {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 51px;
    padding: 10px;
    opacity: 0.15;
    color: #eaf5e5;
    font-family: "Trebuchet MS", sans-serif;
}
.hud:hover {
    opacity: 0.75;
}
.hud .resource {
    float: right;
    padding: 14px 7px;
    font-size: 12px;
    display: block;
}
.hud .tracks {
    float: left;
}
.hud .tracks ul {
    height: 10px;
    float: right;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 10px;
}
.hud .tracks ul li {
    display: block;
    float: left;
    height: 8px;
    width: 5px;
    margin-right: 1px;
    list-style: none;
}
.hud .resource i {
    font-size: 20px;
    vertical-align: super;
}
.hud .brand {
    float: left;
    font-size: 40px;
    padding-right: 10px;
}
.hud .phase_title {
    z-index: -10;
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 29px;
    text-align: center;
    padding-top: 20px;
}
.hud.bottom {
    display: none;
    top: auto;
    bottom: 0;
    border: 1px solid #211;
    background: black;
    opacity: 0.8;
    height: 36px;
}
.hud.bottom .orders, .hud.bottom .units, .hud.bottom2 .fight {
    margin: 0;
    padding: 0;
}
.hud.bottom .orders li, .hud.bottom .units li {
    background: white;
    border-radius: 5px;
    list-style: none;
    display: block;
    float: left;
    color: black;
    font-size: 25px;
    width: 52px;
    margin-right: 5px;
    height: 36px;
    z-index: 150;
}
.hud.bottom .units li, .hud.bottom2 .fight .unit {
    text-align: center;
}
.hud.bottom .done, .hud.bottom2 .done, .hud.bottom .power {
    display: block;
    width: 70px;
    right: 10px;
    top: 10px;
    background: #333;
    border-radius: 5px;
    position: absolute;
    height: 30px;
    padding-top: 6px;
    color: black;
    font-size: 18px;
    text-align: center;
}
.hud.bottom .done.active, .hud.bottom .power.active, .hud.bottom2 .done.active {
    background: white;
}

.hud.bottom .power {
    display: none;
    right: 90px;
}

.hud.bottom2 {
    display: none;
    top: auto;
    bottom: 0;
    border: 1px solid #211;
    background: black;
    opacity: 0.8;
    height: 76px;
}

.hud.bottom2 .fight {
    float: left;
    clear: both;
    height: 36px;
    margin-bottom: 5px;
}

.hud.bottom2 .fight li {
    border-radius: 5px;
    list-style: none;
    display: block;
    float: left;
    color: black;
    font-size: 25px;
    width: 52px;
    margin-right: 5px;
    height: 36px;
    z-index: 150;
}

.hud.bottom2 .fight li.army {
    text-align: center;
}

.hud.bottom2 .fight li.support {
    text-align: center;
}

.hud.bottom2 .fight li.homeland {
    text-align: center;
    font-size: 27px;
}

.hud.bottom2 .fight li.result {
    margin-right: 15px;
    margin-left: 10px;
    text-align: center;
    font-size: 27px;
}

.hud.bottom2 .fight li.house i {
    margin: 6px 0px 0px 10px;
}

.bonus {
    font-size: 13px;
}

.house_1 {
    background: yellow;
}

.house_2 {
    background: red;
}

.house_3 {
    background: white;
}

.house_4 {
    background: blue;
}

.house_5 {
    background: blue;
}

.house_6 {
    background: blue;
}

.hud.bottom .orders li:hover,
.hud.bottom .orders li.active,
.hud.bottom .done.active:hover,
.hud.bottom .power.active:hover,
.hud.bottom .power.used,
.hud.bottom2 .done.active:hover,
.hud.bottom .units li:hover,
.hud.bottom .units li.active
{
    background: yellow;
    cursor: pointer;
}
.hud.bottom .orders li.used, .hud.bottom .units li.used {
    background: #999;
}
.hud.bottom .orders li.blocked {
    cursor: auto;
    background: #333;
}
.hud.bottom .orders li.common, .hud.bottom2 .fight li.order.common {
    text-align: center;
}
.hud.bottom .orders li .holder, .hud.bottom2 .fight li.order .holder {
    position: relative;
}
.hud.bottom .orders li .icon, .hud.bottom2 .fight li.order .icon {
    top: 2px;
    position: relative;
    left: 2px;
}
.hud.bottom .orders li.common .icon, .hud.bottom2 .fight li.order.common .icon {
    left: 0;
}
.hud.bottom .orders li .bonus, .hud.bottom2 .fight li.order .bonus {
    vertical-align: sub;
    font-size: 18px;
}
.hud.bottom .orders li .star, .hud.bottom2 .fight li.order .star {
    vertical-align: super;
    font-size: 13px;
    position: absolute;
    top: 3px;
    left: 30px;
    z-index: 150;
    display: block;
}

.unit {
    height: 27px;
    margin-top: 4px;
}


.map .system {
    fill-opacity: 0;
}
.map .planets, .map text, .map .star, .map .forts, .map .order .bg {
    fill-opacity: 1;
}
.map text {
    font-family: Arial, sans-serif;
    text-anchor: middle;
}
.map .title {
    fill: #005571;
}